<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="username" value="normantmhwork@gmail.com" />
		<property name="password" value="cwabduljnyuhsxio" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>		
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.port">587</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.port">587</prop>
			</props>
		</property>
	</bean>

	<bean id="email" class="com.lithan.beans.Email">
		<property name="mailSender" ref="mailSender" />
	</bean>
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>    
		<property name="url" value="jdbc:mysql://localhost:3306/m6-sa"></property>    
		<property name="username" value="root"></property>    
		<property name="password" value="root"></property>    
	</bean>    

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">    
		<property name="dataSource" ref="ds"></property>    
	</bean> 
	
	<bean id="dao" class="com.lithan.dao.UserDao">    
		<property name="template" ref="jt"></property>  
	</bean>
</beans>